
body{

    background-color: rgb(56, 54, 54);
}
#First-icon{

    display: inline-flex;
    float: left;
    float: inline-start;
    margin-left: 40PX  ;
    margin-top: 10PX;


}



.right-section{
       
    
    width: 1200PX;
    height: 60PX;
    padding: 40PX;
    color: black;
    column-count: initial;
    font-size: 30PX;
    margin-top: 50PX;
    margin-left: 30PX;
    margin-right: 30PX;

    box-shadow: grey 5PX  5PX;
    padding-top:30PX ;
    padding-bottom:30PX ;



}

#Last-icon{

    display: inline-flex;
    float: right;
    display: inline-flex;
    margin-right: 60PX;
    padding-bottom:30PX ;
        margin-top: 10PX;




}


.First-input{

    display: inline-flex;
    padding-left:80PX ;
    margin-right: 90PX;
    border: black 2PX solid;
    padding-bottom:30PX ;
    margin-top: 10PX;
    
    
    

}

.First-input{
    display: inline-flex;
    padding-left:200PX ;
    padding-right:200PX ;
    margin-left:100PX ;
    float: right;
    margin-right: 200PX;
    color: black;
    text-align: center;
}


#BOX-2{
  
    width: 180PX;
    height:9989PX ;
    color: bisque;
    padding-top: 200PX;
    padding-bottom: 100PX;
    box-shadow: grey 5PX  5PX;
    font-size: 30PX;
    margin-top: 80PX;
    margin-bottom: 70PX;
    padding-left: 30PX;
    padding-right: 10PX;
    background-color: rgb(231, 228, 228);
    margin-left:50PX ;
    float: inline-start;
    float: left;



}



#link-D{
   
    color: black;
    text-align: center;
    margin-top: 30PX;
    padding-left: 30PX;
    padding-right: 30PX;
    background-attachment: fixed;
   

}



#i{
   
    color: blue;
    font-size: 60PX;
    text-align: center;
    margin-top: 30PX;
    padding-left: 30PX;
    padding-right: 30PX;
    background-attachment: fixed;
   

}






.img-A{


    width: 50PX ;
    height: 50PX ;
    border: black solid 3PX;
    border-radius: 50%;
    float: left;
    margin-left: 40PX;
    margin-top: 60PX;
    margin-bottom: 70PX;

}


.section{

    width: 900PX;
    height: 1100PX ;
    background-color: rgb(231, 228, 228);
    margin-left: 380PX;
    margin-right: 60PX;
    margin-top: 90PX;
    margin-bottom: 90PX;
    box-shadow: grey 5PX 5PX 5PX 5PX;

       

}
#first-title{
        
    color: black;
    font-size: 20PX;
    float: left;
    margin-left: 40PX;
    margin-top: 10PX;
    margin-bottom: 70PX;


    
}

.first-Video{
    
    width:  270PX;
    height: 600PX;
    border: black solid 3PX;
    border-radius: 40PX 50PX ;
    margin-top: 10PX;
    margin-bottom: 30PX;
    margin-left: 60PX;



}

.icone{
  
    float: left;
    margin-top: 80PX;
    font-size: 25PX;
    color: black;
    margin-left: 160PX;
    

}


.Last-icone{
  
    float: left;
    margin-top: 80PX;
    font-size: 25PX;
    color: black;
    margin-left: 160PX;
    

}

#First-h{
  
    text-align: center;
    margin-top: 70PX;
    font-size: 25PX;
    color: rgb(149, 145, 145);
    margin-right: 50PX;
    display: inline-flex;
  
}


#Second-h{
  
    text-align: center;
    margin-top: 90PX;
    font-size: 25PX;
    color: plum;
    margin-right: 50PX;
    display: inline-flex;
  

}


#Last-h{
  
    text-align: center;
    margin-top: 70PX;
    font-size: 25PX;
    color: black;
    margin-right: 50PX;
    display: inline-flex;
  

}







#i-6{
   
  color: black;
  font-size: 30PX;
  margin-top: 10PX;
  display: inline-flex;
    margin-left: 40PX;
        margin-bottom: 30PX;


   

}



#i-7{
   
  color: black;
  font-size: 30PX;
  margin-top: 10PX;
      margin-bottom: 30PX;

  display: inline-flex;
    margin-left: 50PX;

   

}



#i-8{
   
  color: black;
  font-size: 30PX;
  margin-top: 10PX;
  display: inline-flex;
    margin-left: 50PX;
        margin-bottom: 30PX;


   

}



#i-9{
   
  color: black;
  font-size: 30PX;
  margin-top: 10PX;
    margin-bottom: 30PX;

  display: inline-flex;
    margin-left: 50PX;

   

}




#img-B{
    
    width:  270PX;
    height: 600PX;
    border: black solid 3PX;
    border-radius: 40PX 50PX ;
    margin-top: 10PX;
    margin-bottom: 30PX;
    margin-left: 60PX;



}




